In [1]:
import ETFFundamentalData as finData
import ETFHistoryDownload as hist
import sqlalchemy as sql
import pandas as pd

In [ ]:
finData.drop_table('FINCANCIAL_DATA')

In [ ]:
#TEST HERE

finData.drop_table('FINCANCIAL_DATA')

symbols = ['FB', 'AMZN']

output_df2 = []
output_df2 = finData.create_df(symbols)
output_df2 = finData.download_finData(output_df2, symbols)

result_data = finData.get_finData(output_df2)   
display(result_data)

In [3]:
#TEST HERE

hist.drop_table('FINCANCIAL_DATA')


eft_data_connection_string2 = 'sqlite:///./Resources/etf.db'
# Database engine
etf_data_engine2 = sql.create_engine(eft_data_connection_string2, echo=True)

# TWEAK DUE TO THE API limitation 1000 rows and 30 names and connection limit
# automatically downloading 1 year history of only missing names by 29 names each in loop 
sql_query = """
SELECT distinct symbol as name
FROM STOCK_HISTORY
"""
# check agist existing names history stored in database and only run missing ones 
etf_symbols_exist = pd.read_sql_query(sql_query, eft_data_connection_string2)
display(etf_symbols_exist)

output_df = finData.create_df_by_df_symbol(etf_symbols_exist)
display(output_df)


output_df = finData.download_finData_by_df_Symbol(output_df, etf_symbols_exist)
result_data = finData.get_finData(output_df)   
display(result_data)

     name
0       A
1    AAON
2    AAPL
3     AAT
4    ABBV
..    ...
633   ZTS
634   ZUO
635   QQQ
636   SPY
637   GLD

[638 rows x 1 columns]

,Symbol,Sector,Name,Date_MostRecentQuarter,Date_LastDividend,Date_LastFiscalYearEnd,Date_NextFiscalYearEnd,Beta,BookValue,Debt_to_Equity,...,Revenue_per_share,TargetPX_High,TargetPX_low,TargetPX_Mean,TargetPX_Median,Total_Cash,Total_Cash_per_Share,Total_Debt,Total_Revenue,Volume_10dAvg
0,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABBV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,ZTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,ZUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,QQQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,SPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,GLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2022-01-02 01:48:09,203 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("FINANCIAL_DATA")
2022-01-02 01:48:09,205 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-02 01:48:09,206 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("FINANCIAL_DATA")
2022-01-02 01:48:09,208 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-02 01:48:09,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-02 01:48:09,217 INFO sqlalchemy.engine.Engine
CREATE TABLE "FINANCIAL_DATA" (
	"index" TEXT,
	"Symbol" TEXT,
	"Sector" TEXT,
	"Name" TEXT,
	"Date_MostRecentQuarter" TEXT,
	"Date_LastDividend" TEXT,
	"Date_LastFiscalYearEnd" TEXT,
	"Date_NextFiscalYearEnd" TEXT,
	"Beta" FLOAT,
	"BookValue" TEXT,
	"Debt_to_Equity" TEXT,
	"Divedend_Rate" TEXT,
	"Dividend_5yrAvg" TEXT,
	"Dividend_LastValue" TEXT,
	"Dividend_Rate_TrailngAnnual" TEXT,
	"Dividend_TrailingAnnual" TEXT,
	"Dividend_Yield" FLOAT,
	"Earning_Growth" TEXT,
	"Earning_QuarterGrowth" TEXT,
	"EBITDA" BIGINT,
	"Enterprise_EBITDA" FLOAT,
	"Enterprise_Revenue" TEXT,
	"Enterprise_Value" BIGINT,
	"EPS_Trailing" TEXT,
	"Margin_EBITDA" TEXT,
	"Margin_Gross" TEXT,
	"Margin_Operation" FLOAT,
	"Margin_Profit" TEXT,
	"MarketCap" BIGINT,
	"Name_Long" TEXT,
	"PE_FWD" TEXT,
	"PE_Trailing" FLOAT,
	"PEG_FWD" TEXT,
	"PEG_Trailing" FLOAT,
	"Price_to_Book" TEXT,
	"PS_12m" FLOAT,
	"PX_200dAvg" FLOAT,
	"PX_2weeksHigh" TEXT,
	"PX_2weeksLow" TEXT,
	"Rating_MorningStar" TEXT,
	"Rating_RecommendMean" TEXT,
	"Ratio_Current" FLOAT,
	"Ratio_DivPayout" TEXT,
	"Ratio_Short" TEXT,
	"Return_on_Asset" FLOAT,
	"Return_on_Equity" FLOAT,
	"Revenue_per_share" TEXT,
	"TargetPX_High" TEXT,
	"TargetPX_low" TEXT,
	"TargetPX_Mean" TEXT,
	"TargetPX_Median" TEXT,
	"Total_Cash" BIGINT,
	"Total_Cash_per_Share" FLOAT,
	"Total_Debt" BIGINT,
	"Total_Revenue" BIGINT,
	"Volume_10dAvg" BIGINT
)


2022-01-02 01:48:09,218 INFO sqlalchemy.engine.Engine [no key 0.00092s] ()
2022-01-02 01:48:09,240 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_FINANCIAL_DATA_index" ON "FINANCIAL_DATA" ("index")
2022-01-02 01:48:09,241 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2022-01-02 01:48:09,249 INFO sqlalchemy.engine.Engine COMMIT
2022-01-02 01:48:09,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-02 01:48:09,360 INFO sqlalchemy.engine.Engine INSERT INTO "FINANCIAL_DATA" ("index", "Symbol", "Sector", "Name", "Date_MostRecentQuarter", "Date_LastDividend", "Date_LastFiscalYearEnd", "Date_NextFiscalYearEnd", "Beta", "BookValue", "Debt_to_Equity", "Divedend_Rate", "Dividend_5yrAvg", "Dividend_LastValue", "Dividend_Rate_TrailngAnnual", "Dividend_TrailingAnnual", "Dividend_Yield", "Earning_Growth", "Earning_QuarterGrowth", "EBITDA", "Enterprise_EBITDA", "Enterprise_Revenue", "Enterprise_Value", "EPS_Trailing", "Margin_EBITDA", "Margin_Gross", "Margin_Operation", "Margin_Profit", "MarketCap", "Name_Long", "PE_FWD", "PE_Trailing", "PEG_FWD", "PEG_Trailing", "Price_to_Book", "PS_12m", "PX_200dAvg", "PX_2weeksHigh", "PX_2weeksLow", "Rating_MorningStar", "Rating_RecommendMean", "Ratio_Current", "Ratio_DivPayout", "Ratio_Short", "Return_on_Asset", "Return_on_Equity", "Revenue_per_share", "TargetPX_High", "TargetPX_low", "TargetPX_Mean", "TargetPX_Median", "Total_Cash", "Total_Cash_per_Share", "Total_Debt", "Total_Revenue", "Volume_10dAvg") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-02 01:48:09,361 INFO sqlalchemy.engine.Engine [generated in 0.09022s] ((0, 'A', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (1, 'AAON', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (2, 'AAPL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (3, 'AAT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (4, 'ABBV', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (5, 'ABCB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (6, 'ABG', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (7, 'ABM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)  ... displaying 10 of 1276 total bound parameter sets ...  ('SPY', 'SPY', None, 'SPDR S&P 500', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'SPDR S&P 500 ETF Trust', None, None, None, None, None, None, 437.1999, 479, 364.82, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 70690830), ('GLD', 'GLD', None, 'SPDR Gold Trust', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'SPDR Gold Shares', None, 28.76178, None, None, None, None, 168.0755, 183.21, 157.13, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5825910))
2022-01-02 01:48:09,417 INFO sqlalchemy.engine.Engine COMMIT
2022-01-02 01:48:09,428 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-02 01:48:09,429 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,Symbol,Sector,Name,Date_MostRecentQuarter,Date_LastDividend,Date_LastFiscalYearEnd,Date_NextFiscalYearEnd,Beta,BookValue,...,Revenue_per_share,TargetPX_High,TargetPX_low,TargetPX_Mean,TargetPX_Median,Total_Cash,Total_Cash_per_Share,Total_Debt,Total_Revenue,Volume_10dAvg
0,0,A,None,None,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
1,1,AAON,None,None,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
2,2,AAPL,None,None,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
3,3,AAT,None,None,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
4,4,ABBV,None,None,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,ZTS,ZTS,Healthcare,Zoetis Inc.,2021-09-30 00:00:00,None,2020-12-31 00:00:00,2022-12-31 00:00:00,0.655064,8.609,...,16.034,240,184,225,227,3.298000e+09,6.971,6.756000e+09,7.616000e+09,1266760.0
1270,ZUO,ZUO,Technology,"Zuora, Inc.",2021-10-31 00:00:00,None,2021-01-31 00:00:00,2023-01-31 00:00:00,2.207501,1.422,...,2.74,23,13,19.25,20.5,2.033350e+08,1.607,6.230900e+07,3.353330e+08,765670.0
1271,QQQ,QQQ,None,"Invesco QQQ Trust, Series 1",None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,41811850.0
1272,SPY,SPY,None,SPDR S&P 500,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,70690830.0
1273,GLD,GLD,None,SPDR Gold Trust,None,None,None,None,NaN,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,5825910.0